<template>
    <v-card outlined
    >
        <v-form
                ref="form"
                v-model="valid"
        >
            <v-card-text class="d-flex pb-0">
                <v-text-field
                        outlined
                        required
                        label="Ваше сообщение"
                        v-model="text"
                        :counter="140"
                        :rules="textRules"
                />
                <v-btn x-large class="ml-2" color="blue" :loading="loading" :disabled="!valid" @click.prevent="send">
                    <v-icon color="white">mdi-send</v-icon>
                </v-btn>
            </v-card-text>
        </v-form>
    </v-card>
</template>

<script>
    export default {
        name: "ChatFormCard",
        data() {
            return {
                loading: false,
                valid: true,
                text: '',
                textRules: [
                    v => !!v || 'Введите сообщение',
                    v => (v && v.length <= 140) || 'Максимум 140 символов',
                ],
            }
        },
        methods: {
            send() {
                if (this.$refs.form.validate()) {
                    this.loading = true
                    this.$emit('onSendMessage', this.text)
                    this.$refs.form.reset()
                    this.text = ''
                    this.loading = false
                }
            },
        },
    }
</script>

<style scoped>

</style>