<template>
    <v-dialog max-width="290" persistent v-model="modalActive" >
        <v-card>
            <v-card-title class="headline">Добро пожаловать в TaDa Chat!</v-card-title>
            <v-card-text>Введите имя, чтобы присоединиться к беседе</v-card-text>
            <v-form
                    ref="form"
                    v-model="valid"
            >
            <v-card-text>
                <v-text-field
                        name="name"
                        label="Введите имя"
                        type="text"
                        :rules="nameRules"
                        required
                        v-model="name"
                        outlined
                        :counter="20"
                ></v-text-field>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                            class="success"
                            @click="saveName"
                            :disabled="!valid"
                    >Сохранить</v-btn>
                </v-card-actions>
            </v-card-actions>
            </v-form>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: "GreetingsModal",
        data() {
            return {
                valid: false,
                modalActive: true,
                name: null,
                nameRules: [
                    v => !!v || 'Введите имя',
                    v => (v && v.length <= 20) || 'Максимум 20 символов',
                ],
            }
        },
        methods: {
            saveName() {
                if (this.$refs.form.validate()) {
                    this.$emit('onSaveName', this.name)
                }
            },
        },
    }
</script>

<style scoped>

</style>