<template>
    <div class="d-flex justify-start" :class="{'justify-center': isFromServer, 'justify-end': isMine}">
        <div class="column mb-4">
            <v-card width="300px"
                    shaped
                    :flat="isFromServer"
                    :class="{'transparent': isFromServer, 'blue lighten-4': isMine}"
            >
                <v-card-text :class="{'text-left': !isFromServer}">
                    <span>{{message.text}}</span>
                </v-card-text>
            </v-card>
            <div class="d-flex justify-end pt-2">
                <small class="mr-2 font-weight-bold">{{message.name}}</small>
                <small class="text-right" v-if="!isFromServer">{{creationTime}}</small>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "MessageCard",
        props: ['message', 'name'],
        computed: {
            isFromServer() {
                return !this.message.name
            },
            isMine() {
                return this.name === this.message.name
            },
            creationTime() {
                let dot = this.message.created.indexOf('.')
                return this.message.created.substring(0, dot).replace('T', ' ')
            }
        },
    }
</script>

<style scoped>
</style>