<template>
  <v-app>
    <v-app-bar
            app
            color="blue"
            dark
    >
      <v-toolbar-title>TaDa Chat</v-toolbar-title>
    </v-app-bar>
    <greetings-modal v-if="!name" @onSaveName="onSaveName"/>
    <v-content class="pt-1">
      <v-container class="chat-container">
        <v-row no-gutters dense class="justify-center">
          <v-col cols="12" md="8" sm="10">
            <transition-group name="list">
              <message-card
                      v-for="(message, i) in messages" :key="i"
                      :message="message"
                      :name="name"
              />
            </transition-group>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
    <v-footer fixed>
      <v-container class="pa-0">
        <v-row no-gutters dense class="justify-center">
          <v-col cols="12" md="8" sm="10">
            <chat-form-card @onSendMessage="onSendMessage" />
          </v-col>
        </v-row>
      </v-container>
    </v-footer>
    <template v-if="error">
      <v-snackbar
              :multi-line="true"
              :timeout="3000"
              @input="closeError"
              :value="true"
      >
        {{ error }}
        <v-btn
                color="error"
                text
                @click="closeError"
        >
          Close
        </v-btn>
      </v-snackbar>
    </template>
    <v-overlay :value="loading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </v-app>
</template>

<script>
    /* eslint-disable no-console,no-unused-vars */
    import goTo from 'vuetify/es5/services/goto'
    import MessageCard from '@/components/MessageCard'
    import GreetingsModal from '@/components/GreetingsModal'
    import ChatFormCard from '@/components/ChatFormCard'
    export default {
        name: 'app',
        components: {
            MessageCard,
            GreetingsModal,
            ChatFormCard
        },
        data() {
            return {
                loading: false,
                error: null,
                name: null,
                socket: null,
                messages: [],
                text: '',
            }
        },
        methods: {
            closeError() {
                this.error = ''
            },
            onSendMessage(text){
                this.text = text
                this.sendMessage()
            },
            async onSaveName(name) {
                try {
                    this.name = name
                    this.loading = true
                    this.socket = await new WebSocket(`ws://pm.tada.team/ws?name=${this.name}`)
                    await this.connectToChat()
                    this.loading = false
                } catch (e) {
                    this.loading = false
                    this.error = e.message
                    throw e
                }
            },
            connectToChat() {
                let self = this
                this.socket.onopen = function () {
                    console.log('Server opened')
                };
                this.socket.onmessage = function (e) {
                    let data = JSON.parse(e.data)
                    self.messages.push(data)
                    goTo(document.body.scrollHeight)
                };
                this.socket.onerror = function (error) {
                    self.error = `WebSocket Error: ${error.message}`
                };
                this.socket.onclose = function (e) {
                    console.log('Server closed')
                };
            },
            async sendMessage() {
                try {
                    this.loading = true
                    const message = JSON.stringify({text: this.text})
                    await this.socket.send(message)
                    this.text = ''
                    this.loading = false
                } catch (e) {
                    this.text = ''
                    this.loading = false
                    this.error = e.message
                    throw e
                }
            },
        },
    }

</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
  .chat-container{
    margin-bottom: 140px;
  }
  .list-item {
    display: inline-block;
    margin-right: 10px;
  }
  .list-enter-active, .list-leave-active {
    transition: all 1s;
  }
  .list-enter, .list-leave-to /* .list-leave-active до версии 2.1.8 */ {
    opacity: 0;
    transform: translateY(30px);
  }
</style>

